<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjang.mapper.ImageMapper">
    <select id="getImageCode" parameterType="java.util.List" resultType="basicProduct">
        select serial_number
        from basic_product
        where seq_basic_product
        in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item.seq_basic_product}
        </foreach>
        order by field(seq_basic_product,
        <foreach collection="list" item="item" index="index" separator=",">
            #{item.seq_basic_product}
        </foreach>
                )
    </select>

</mapper>